body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fakeLink {
  background: none!important;
  border: none;
  padding: .5rem 1rem;
  font-family: arial, sans-serif;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.fakeLink:hover {
  text-decoration: underline;
}

.logout-link {
  margin-left: 690px;
}

.navbar1 {
  margin-bottom: 20px;
}

li {
  list-style-type: none;
 }

 .product-cards {
  display: flex;
  justify-content: space-between;

}

 .card {
  width: 220px;
  padding: 4px;
  margin-left: 40px;
  margin-right: 40px;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}



